@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background-color: hsl(270, 20%, 96%);
  position: relative;
  overflow-x: hidden;
}
main{
    display: flex;
    width: 950px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.phone {
  width: 390px;
  border-radius: 35px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  margin: 60px 0;
  box-shadow: 40px 15px 35px hsl(270, 7%, 64%);
  animation: slideFromTop 1.2s ease-in-out;
}
@keyframes slideFromTop {
  0%{
    transform: translateY(-200%);
  }
  100%{
    transform: translateY(0);
  }
}
.phone-inner {
  border-radius: 30px;
  background-color: hsl(270, 20%, 96%);
}
.top-phone {
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.empty {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  width: 50%;
  height: 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.top-phone-inner {
  display: flex;
  align-items: center;
  padding: 15px;
  color: hsl(0, 0%, 100%);
}
.top-phone i {
  color: hsl(0, 0%, 100%);
}
.top-phone i:last-child {
  margin-left: auto;
}
.img-container {
  background-color: hsl(0, 0%, 100%);
  padding: 2px;
  border-radius: 50%;
  width: 52px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container img {
  width: 95%;
  border-radius: 50%;
}
.profile-info h4 {
  color: hsl(276, 100%, 81%);
}
.message{
    padding: 10px 15px;
}
.message>div{
    width: 70%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.received{
    background-color: hsl(206, 6%, 79%);
}
.received p{
    color: hsl(276, 55%, 52%);
}
.sent{
    background-color: hsl(0, 0%, 100%);
    transform: translateX(80px);
    color: hsl(271, 15%, 43%);
}
.sent img{
    width: 27%;
    border-radius: 8px;
}
.sent img:not(:last-of-type){
    margin-right: 10px;
}
.terms{
    background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 0 !important;
  color: hsl(0, 0%, 100%);
}
.radio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid hsl(289, 100%, 72%);
    margin-right: 10px;
}
.price{
    margin-left: auto;
    font-weight: 500;
}
.input{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
}
.input p{
    font-size: 1;
    color: hsl(206, 6%, 79%);
}
.input div{
    background-color: hsl(271, 36%, 24%);
    margin-left: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}
.input i{
    width: 80%;
    color: hsl(0, 0%, 100%);
    margin-left: 2px;
}
.text{
    width: 50%;  
    animation: slideFromBottom 1.2s ease-in-out;
  }
  @keyframes slideFromBottom {
    0%{
      transform: translateY(200%);
    }
    100%{
      transform: translateY(0);
    }
  }
.text h1{
    font-weight: 700;
    font-size: 3rem;
    color:  hsl(271, 36%, 24%);
    margin-bottom: 15px;
}
.text p{
    color: hsl(270, 7%, 64%);
    line-height: 1.8;
}
.curve{
    position: absolute;
    z-index: -10;
    width: 30%;
}
.first-curve{
    height: 850px;
    background-image: linear-gradient(
    to bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  top: 0;
  left: -100px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.second-curve{
    background-color: hsl(0, 0%, 100%);
    bottom: -90px;
  height: 900px;
  right:-60px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.attribution {
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 375px) {
  main{
    display: block;
    width: 300px;
  }
  .phone{
    width: 95%;
    box-shadow: 10px 5px 7px hsl(270, 7%, 64%);
  }
  .message{
    font-size: 1rem;
  }
  /* .received p{
    
  } */
  .text{
    width: 100%;
    text-align: center;
  }
  .text h1{
    font-size: 2rem;
  }
  .first-curve{
    width: 220px;
    height: 390px;
    left: -100px;
    top: 0;
  }
  .second-curve{
    display: none;
  }
  .sent img:not(:last-of-type){
      margin-right: 5px;
  }
}